# ==============================
# Python
# ==============================

__pycache__/
*.py[cod]

# ==============================
# RL Models
# ==============================

*.zip
*.pkl
*.pth
*.pt

# ==============================
# MATLAB / Simulink
# ==============================

slprj/
*_slprj/
*.slxc
*.autosave
*.asv

*_Data.mat
*.m~
*.mex*
*.fig

codegen/
*_ert_rtw/
*_grt_rtw/

# ==============================
# Temporary
# ==============================

temp.py
eval_ppo2.py